<section class="pokemon-list">
  <h1>Pokemon route</h1>
  <p>Total Pokemon available: {{model.count}}</p>

  <p>List of available pokemon</p>
  <ul>
    {{#each model.results as |result|}}
      <li>{{#link-to "pokemon.pokemon-details" (extract-id-from-url result.url)}}{{result.name}}{{/link-to}}</li>
    {{/each}}
  </ul>

  <button {{action "previousPage"}} disabled={{previousPageButtonIsDisabled}} aria-label="go to previous page">previous</button>
  <button {{action "nextPage"}} disabled={{nextPageButtonIsDisabled}} aria-label="go to next page">next</button>

</section>
{{outlet}}

